DB_USER=database_user
DB_PASSWORD=database_password
DB_NAME=database_name
DATABASE_URL=postgres://database_user:database_password@localhost:5432/database_name

PHARMACY_SERVICE_URL=http://sophia-pharmacy-service:8080

MESSAGE_AUDIT_QUEUE=audit.queue
MESSAGE_EXCHANGES=pharmacy.exchange
MESSAGE_AUDIT_ROUTING_KEY=audit
MESSAGE_URL=amqp://admin:admin@rabbitmq:5672
PORT=3000
