DB_USER=database_user
DB_PASSWORD=database_password
DB_NAME=database_name
MESSAGE_AUDIT_QUEUE=audit.queue
MESSAGE_EXCHANGES=pharmacy.exchange
MESSAGE_AUDIT_ROUTING_KEY=audit

DATABASE_URL=postgres://database_user:database_password@localhost:5432/database_name